body{background:;
	background-attachment: fixed;
   -webkit-background-size:cover;
   -o-background-size:cover;
   -moz-background-size:cover;
   background-size:cover;
   margin:0rem;}
.navbar {overflow: hidden;background-color: #2db5ac;position: fixed;top: 0;width: 100%;}
.logo{width: 10%;padding-left:2rem}
.navbar a {float:right;display: block;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;font-size: 20px;}
.navbar a:hover {background: #ddd;color: black;}		
#container{width:100%;word-wrap:break-word;}
.image{width:400px;box-shadow: 10px 10px 5px grey;margin:auto;display: block;}
.content{font-size:28px;width:65%;padding:18px;float: left;margin-top:100px;}
p{font-size:20px}
.grid-co{padding:40px; display:grid;width:20%;grid-template-columns: auto;float:left;margin-top:180px;grid-gap:6rem;}
.box{border: 1px solid black;width:315px;box-shadow: 10px 10px 5px grey}
.ant{width: 320px;box-shadow: 10px 10px 5px grey}
.covid{width:320px;box-shadow: 10px 10px 5px grey}
.cover{width: 320px;box-shadow: 10px 10px 5px grey}
.footer{background-color:#1b1c1b;float:left;width:100%}
.abox {width:33%;float:left;margin:auto;padding-top:2rem;line-height:2rem;font-family: 'Roboto', sans-serif;}
.bbox {width:33%;float:left;padding-top:2rem;line-height:2rem;font-family: 'Roboto', sans-serif;}
.cbox{text-align:right;width: 33%;float:left;padding:3px}
.dbox{float:left;width:inherit;}
.abox a{padding-left:30%;text-decoration:none;color:white;}
.bbox a{padding-left:30%;text-decoration:none;color: white}
.cbox{color: white}
.madewith{font-size:1rem;padding-left:2rem;color:white}

@media only screen and (max-width: 1140px) {
.logo{width: 15%;}
.grid-co{padding:10px;}
.box{width:280px;}
.ant{width: 290px;}
.covid{width:290px;}
.cover{width: 290px;}}

@media only screen and (max-width: 970px) {
.content{font-size:26px;padding:10px;width:70%}
p{font-size:18px}
.image{width:300px;}
.grid-co{padding:15px;}
.box{width:220px;}
.ant{width: 220px;}
.covid{width:220px;}
.cover{width: 220px;}}


@media only screen and (max-width: 850px) {
.content{font-size:25px;}
p{font-size:15px}
.box{width:200px;}
.ant{width: 200px;}
.covid{width:200px;}
.cover{width: 200px;}}

@media only screen and (max-width: 800px) {
.content{font-size:22px;width:100%;padding:0px}
p{font-size:12px}
.grid-co{padding:10px;width:30%;display:grid;grid-template-columns:auto auto;margin-top:20px;grid-gap:2rem;}
.ant{display:none;}
.box{display:none;}
.abox a{padding-left:20%;font-size:16px}
.bbox a{padding-left:20%;font-size:16px}}

@media only screen and (max-width: 700px) {
.logo{width: 20%;}}

@media only screen and (max-width: 600px) {
.cbox{width:30%;}}

@media only screen and (max-width: 500px) {
.logo{width: 26%;}}

@media only screen and (max-width: 460px) {
.grid-co{display:none;}
.abox a{padding-left:20%;font-size:12px}
.bbox a{padding-left:20%;font-size:12px}
.cbox{width:20%;padding-left: 35px}
.logo{width: 29%;}
.navbar a {font-size:15px;}}

@media only screen and (max-width: 460px) {
.abox a{font-size:10px}
.bbox a{font-size:10px}
.logo{width:29%;}
.navbar a {font-size:12px;}}

@media only screen and (max-width: 460px) {
.abox a{font-size:10px}
.bbox a{font-size:10px}
.logo{width:30%;}
.navbar a{font-size:10px;}
.image{width:200px;}}

@media only screen and (max-width: 340px) {
.cbox{display: none;}}